/****************************
 ****************************
Colors
 ****************************
 ****************************/
/* background gradient */
/* play button */
/* when you hover over play button */
/* color for lower song profile */
/* hover color for tag */
/* General */
body {
  font-family: "Overpass", sans-serif;
  background-color: #fff;
}

/* LINKS */
a {
  text-decoration: none;
}

#player-main-artist span, #player-main-title span, #player-main-album span {
  background: #292827;
  color: #ccc;
  padding: 2px 7px;
}

#player-main-title span {
  color: white;
  font-size: 24px;
}

#player-main-artist span:hover, #player-main-album span:hover {
  color: #fff;
}

#player-song-tag span {
  color: #fff;
  padding: 1px 8px;
  background: #999;
  border-radius: 20px;
}

#player-song-tag span:hover {
  background: #666;
}

#player-display-extras {
  text-align: right;
}

/*** PLAY BUTTON */
.player-main-play {
  background: #f50;
  border-radius: 50%;
  border: solid #f50 5px;
  color: #fff;
  cursor: pointer;
}

.player-main-play:hover {
  background: #f30;
  border: solid #f30 5px;
}

#player-main-on {
  background: #f30;
  border: solid #f30 5px;
}

/* SONGBAR */
.player-songbar-bar {
  background: #ccc;
  width: 2.5px;
}

#player-songbar:hover .player-songbar-bar {
  background: #fff;
}

#player-songbar-current-time span, #player-songbar-total-time span {
  background: #000;
  font-size: 12px;
}

#player-songbar-total-time {
  color: #ccc;
}

#player-songbar-current-time {
  color: #f50;
}

/* Background gradient! */
.player-background-grey {
  background: #8d9190;
  background: -webkit-linear-gradient(left top, #ded8d5, #8d9190);
  background: -o-linear-gradient(bottom right, #ded8d5, #8d9190);
  background: -moz-linear-gradient(bottom right, #ded8d5, #8d9190);
  background: linear-gradient(to bottom right, #ded8d5, #8d9190);
}

.player-background-red {
  background: #dc8873;
  background: -webkit-linear-gradient(left top, #816471, #dc8873);
  background: -o-linear-gradient(bottom right, #816471, #dc8873);
  background: -moz-linear-gradient(bottom right, #816471, #dc8873);
  background: linear-gradient(to bottom right, #816471, #dc8873);
}

/****************************
 ****************************
GRIDS
 ****************************
 ****************************/
#player-all {
  color: #fff;
  width: 960px;
  height: 380px;
  display: grid;
  grid-template-rows: [top-pad] 20px [play-top] 240px [profile-top] 100px [bottom-pad] 20px [bottom];
  grid-template-columns: [left-pad] 30px [play-left] 560px [profile-right] auto [pad-right] 30px;
}
#player-all #player-profile {
  grid-column: play-left/profile-right;
  grid-row: profile-top/bottom-pad;
  display: grid;
}
#player-all #player-profile #player-songbar {
  display: grid;
  grid-template-rows: [top] 62px [time] 18px [top-end] 0.5px [bottom] 20px [bottom-end];
  grid-template-columns: [start] 20px [middle] auto [middle-end] 26px [end];
}
#player-all #player-profile #player-songbar #player-songbar-current-time {
  grid-row: time/top-end;
  grid-column: start/middle;
}
#player-all #player-profile #player-songbar #player-songbar-total-time {
  grid-row: time/top-end;
  grid-column: middle-end/end;
}
#player-all #player-profile #player-songbar #player-songbar-upper {
  display: flex;
  justify-content: space-around;
  grid-row: top/top-end;
  grid-column: start/end;
}
#player-all #player-profile #player-songbar #player-songbar-upper .player-songbar-upper-bar {
  align-self: flex-end;
}
#player-all #player-profile #player-songbar #player-songbar-lower {
  display: flex;
  justify-content: space-around;
  grid-row: bottom/bottom-end;
  grid-column: start/end;
}
#player-all #player-profile #player-songbar #player-songbar-lower .player-songbar-lower-bar {
  align-self: flex-start;
}
#player-all #player-display {
  grid-column: play-left/pad-right;
  grid-row: play-top/bottom-pad;
  display: grid;
  grid-template-columns: [main-width] 390px [pad] 10px [extra-width] 150px [extra-pad] 20px [album] auto;
  grid-template-rows: [top-pad] 10px [extra-bottom] 35px [mid] 30px [main-bottom] 65px [bottom] auto;
}
#player-all #player-display #player-display-extras {
  display: grid;
  grid-column: extra-width/extra-pad;
  grid-row: extra-bottom/bottom;
}
#player-all #player-display #player-display-album {
  display: grid;
  grid-column-start: album;
}
#player-all #player-display #player-display-main {
  grid-column: main-width/extra-width;
  grid-row-start: extra-bottom/bottom;
  display: grid;
  grid-template-columns: [player] 60px [player-end] 10px [rest] auto;
  grid-template-rows: [artist] 35px [play-bottom] 25px [title-bottom] 45px [rest] auto [bottom] 15px;
}
#player-all #player-display #player-display-main .player-main-play {
  grid-column: player/player-end;
  grid-row: artist/title-bottom;
}
#player-all #player-display #player-display-main #player-main-artist {
  grid-column-start: rest;
  grid-row: artist/play-bottom;
}
#player-all #player-display #player-display-main #player-main-title {
  grid-column-start: rest;
  grid-row: play-bottom/bottom;
}
#player-all #player-display #player-display-main #player-main-album {
  grid-column-start: rest;
  grid-row-start: bottom;
}

/*# sourceMappingURL=main.css.map */
