/****************************
 ****************************
Colors
 ****************************
 ****************************/
/* background gradient */
/* play button */
/* when you hover over play button */
/* color for lower song profile */
/* hover color for tag */
body {
  font-family: "Overpass", sans-serif;
  background-color: #fff;
}

a {
  background: #292827;
  color: #cccccc;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

#player-main-play {
  background: #ff5500;
  border-radius: 50%;
  border: solid #ff5500 5px;
  color: #fff;
}

#player-main-play:hover {
  background: #ff3300;
  border-radius: 50%;
  border: solid #ff3300 5px;
  color: #fff;
}

.player-songbar-bar {
  background: #cccccc;
  width: 1.5px;
}

.player-background-grey {
  background: #8d9190;
  background: -webkit-linear-gradient(left top, #ded8d5, #8d9190);
  background: -o-linear-gradient(bottom right, #ded8d5, #8d9190);
  background: -moz-linear-gradient(bottom right, #ded8d5, #8d9190);
  background: linear-gradient(to bottom right, #ded8d5, #8d9190);
}

.player-background-red {
  background: #dc8873;
  background: -webkit-linear-gradient(left top, #816471, #dc8873);
  background: -o-linear-gradient(bottom right, #816471, #dc8873);
  background: -moz-linear-gradient(bottom right, #816471, #dc8873);
  background: linear-gradient(to bottom right, #816471, #dc8873);
}

/****************************
 ****************************
GRIDS
 ****************************
 ****************************/
#player-all {
  color: #fff;
  width: 960px;
  height: 380px;
  display: grid;
  grid-template-rows: [top-pad] 20px [play-top] 240px [profile-top] 100px [bottom-pad] 20px [bottom];
  grid-template-columns: [left-pad] 30px [play-left] 660px [profile-right] auto [pad-right] 30px;
}
#player-all #player-profile {
  grid-column: play-left/profile-right;
  grid-row: profile-top/bottom-pad;
  display: grid;
}
#player-all #player-profile #player-songbar {
  display: grid;
  grid-template-columns: repeat(250, 2.2px);
}
#player-all #player-profile #player-songbar #player-songbar-bar {
  display: grid;
}
#player-all #player-display {
  grid-column: play-left/pad-right;
  grid-row: play-top/bottom-pad;
  display: grid;
  grid-template-columns: [main-width] 390px [pad] 10px [extra-width] 150px [extra-pad] 20px [album] auto;
  grid-template-rows: [top-pad] 10px [extra-bottom] 65px [main-bottom] 65px [bottom] auto;
}
#player-all #player-display #player-display-extras {
  display: grid;
  grid-column: extra-width/extra-pad;
  grid-row: extra-bottom/bottom;
}
#player-all #player-display #player-display-album {
  display: grid;
  grid-column-start: album;
}
#player-all #player-display #player-display-main {
  grid-column: main-width/extra-width;
  grid-row-start: extra-bottom/bottom;
  display: grid;
  grid-template-columns: [player] 60px [player-end] 10px [rest] auto;
  grid-template-rows: [artist] 15px [play-bottom] 45px [title-bottom] auto [bottom] 15px;
}
#player-all #player-display #player-display-main #player-main-play {
  grid-column: player/player-end;
  grid-row: artist/title-bottom;
}
#player-all #player-display #player-display-main #player-main-artist {
  /*background:*/
  grid-column-start: rest;
  grid-row: artist/play-bottom;
}
#player-all #player-display #player-display-main #player-main-title {
  grid-column-start: rest;
  grid-row: play-bottom/bottom;
}
#player-all #player-display #player-display-main #player-main-album {
  grid-column-start: rest;
  grid-row-start: bottom;
}

/*# sourceMappingURL=main.css.map */
