$white: #fff;

$backgroundDarkGrey: #8d9190;
$backgroundLightGrey: #ded8d5;

$backgroundPurple: #816471;
$backgroundRed: #dc8873;


body {
  font-family: 'Overpass', sans-serif;
  background-color: $white;
}

div {
  /*display: inline;*/
}

.player-background-grey {
  background: $backgroundDarkGrey;
  background: -webkit-linear-gradient(left top, $backgroundLightGrey , $backgroundDarkGrey);
  background: -o-linear-gradient(bottom right, $backgroundLightGrey, $backgroundDarkGrey);
  background: -moz-linear-gradient(bottom right, $backgroundLightGrey, $backgroundDarkGrey);
  background: linear-gradient(to bottom right, $backgroundLightGrey , $backgroundDarkGrey);
}

.player-background-red {
  background: $backgroundRed;
  background: -webkit-linear-gradient(left top, $backgroundPurple , $backgroundRed);
  background: -o-linear-gradient(bottom right, $backgroundPurple, $backgroundRed);
  background: -moz-linear-gradient(bottom right, $backgroundPurple, $backgroundRed);
  background: linear-gradient(to bottom right, $backgroundPurple , $backgroundRed);
}

/****************************
 ****************************
GRIDS
 ****************************
 ****************************/

#player-all {
  color: $white;
  width: 960px;
  height: 380px;
  display: grid;
  grid-template-rows: [top-pad] 20px [play-top] 240px [profile-top] 100px [bottom-pad] 20px [bottom];
  grid-template-columns: [left-pad] 30px [play-left] 660px [profile-right] auto [pad-right] 30px;

  #player-profile {
    grid-column: play-left / profile-right;
    grid-row: profile-top / bottom-pad;
    display: grid;
  }

  #player-display {
    grid-column: play-left / pad-right;
    grid-row: play-top / bottom-pad;
    display: grid;
    grid-template-columns: [main-width] 390px [extra-width] 150px [extra-pad] 20px [album] auto;
    grid-template-rows: [top-pad] 10px [extra-bottom] 65px [main-bottom] 65px [bottom] auto;

    #player-display-extras {
      display: grid;
      grid-column: extra-width / extra-pad;
      grid-row: extra-bottom / bottom;
    }

    #player-display-album {
      display: grid;
      grid-column-start: album;
    }

    #player-display-main {
      grid-column: main-width / extra-width;
      grid-row-start: extra-bottom / bottom;
      display: grid;
      grid-template-columns: [player] 60px [player-end] 5px [rest] auto;
      grid-template-rows: [artist] 15px [play-bottom] 45px [title-bottom] auto [bottom] 15px;

      #player-main-play {
        grid-column: player / player-end;
        grid-row: artist / title-bottom;
        /*background:*/
      }

      #player-main-artist {
        grid-column-start: rest;
        grid-row: artist / play-bottom;
      }

      #player-main-title {
        grid-column-start: rest;
        grid-row: play-bottom / bottom;
      }

      #player-main-album {
        grid-column-start: rest;
        grid-row-start: bottom;
      }
    }
  }
}

/*
TITLE = play, name, artist, album
DIM: 390 X 100;
Padding above: 30px;
padding left: 20px;
PLAY BUTTON
notes: size 60X60px

*/