.player-profile {
  grid-column: play-left / profile-right;
  grid-row: profile-top / bottom-pad;
  display: grid;
  grid-template-rows: [top] 70.5px [middle] 30px [bottom];
  grid-template-columns: [left] auto [right];
}
