/* color for lower song profile */
/* play button */
/* when you hover over play button */
.player-songbar-all {
  width: 3px;
  align-self: flex-end; }

.player-songbar-lower-all {
  composes: player-songbar-all;
  align-self: flex-start; }

.player-songbar-upper-to-play {
  composes: player-songbar-all;
  background: #ebece6; }

.player-songbar-lower-to-play {
  composes: player-songbar-lower-all;
  background: #ebece6; }

.player-songbar-upper-playing,
.player-songbar-upper {
  composes: player-songbar-all;
  background: #f50;
  background: -webkit-linear-gradient(top, #f50, #f30);
  background: -o-linear-gradient(bottom, #f50, #f30);
  background: -moz-linear-gradient(bottom, #f50, #f30);
  background: linear-gradient(to bottom, #f50, #f30); }

.player-songbar-upper-to-play-playing-hover-middle,
.player-songbar-upper-hover-middle {
  composes: player-songbar-all;
  background: #f4c09c; }

.player-songbar-lower-to-play-playing-hover-middle,
.player-songbar-lower-hover-middle {
  composes: player-songbar-lower-all;
  background: #f4c09c; }

.player-songbar-upper-playing-to-play {
  composes: player-songbar-all;
  background: #fff; }

.player-songbar-lower-playing-to-play {
  composes: player-songbar-lower-all;
  background: #fff; }

.player-songbar-lower-playing,
.player-songbar-lower {
  composes: player-songbar-lower-all;
  background: #f4c09c; }
