/****************************
 ****************************
Colors
 ****************************
 ****************************/

$white: #fff;
$black: #000;

/* background gradient */
$backgroundDarkGrey: #8d9190;
$backgroundLightGrey: #ded8d5;
$backgroundPurple: #816471;
$backgroundRed: #dc8873;

$light-orange: #f4c09c; /* color for lower song profile */
$dark-orange: #f50; /* play button */
$dark-orange2: #f30; /* when you hover over play button */
$light-grey: #ccc;
$songbar-grey: #ebece6;
$tag-grey: #999;
$med-grey: #666; /* hover color for tag */
$black-grey: #292827;

$width: 3;
$nbars: 140;

/*************************/
/* SONGBAR */
/*************************/
#player-songbar {
  cursor: pointer;
}

div[class^="player-songbar-"] {
  width: #{$width}px;
}

/* NOT PLAYING */
.player-songbar-upper-to-play,
.player-songbar-lower-to-play {
  background: $songbar-grey;
}
#player-songbar:hover {
  .player-songbar-upper-to-play,
  .player-songbar-lower-to-play, {
    background: $white;
  }
}

.player-songbar-upper {
  background: $dark-orange;
  background: -webkit-linear-gradient(top, $dark-orange, $dark-orange2);
  background: -o-linear-gradient(bottom, $dark-orange, $dark-orange2);
  background: -moz-linear-gradient(bottom, $dark-orange, $dark-orange2);
  background: linear-gradient(to bottom, $dark-orange , $dark-orange2);
}
#player-songbar:hover .player-songbar-upper {
  background: $dark-orange2;
}

.player-songbar-lower, {
  background: $light-orange;
}

/* PLAYING */
div[class*="-playing-to-play"] {
  background: $white;
}

.player-songbar-upper-to-play-playing-hover-middle,
.player-songbar-upper-hover-middle,
.player-songbar-lower-to-play-playing-hover-middle,
.player-songbar-lower-hover-middle {
  background: $light-orange;
}

#player-songbar:hover div[class*="-playing-to-play"] {
  background: $white;
}

.player-songbar-upper-playing {
  background: $dark-orange;
  background: -webkit-linear-gradient(top, $dark-orange, $dark-orange2);
  background: -o-linear-gradient(bottom, $dark-orange, $dark-orange2);
  background: -moz-linear-gradient(bottom, $dark-orange, $dark-orange2);
  background: linear-gradient(to bottom, $dark-orange , $dark-orange2);
}

#player-songbar:hover .player-songbar-upper {
  background: $dark-orange2;
}

.player-songbar-lower-playing {
  background: $light-orange;
}

/*************************/
/* TIME counters */
/*************************/
#player-songbar-current-time span, #player-songbar-total-time span {
  background: $black;
  font-size: 12px;
}

#player-songbar-total-time {
  color: $light-grey;
}

#player-songbar-current-time {
  color: $dark-orange;
}

/*************************/
/* COMMENTS */
/*************************/
.player-comment-image-hide,
.player-comment-image-show {
  position: inherit;
}

.player-comment-image-show {
  border-radius: 50%;
  z-index: 1000;
}

.player-comment-image-hide {
  z-index:0;
}

.player-comment-right,
.player-comment-left {
  display: flex;
  font-size: 14px;
  position: absolute;
  top: 28px;
  left: 0px;
  white-space: nowrap;
}

.player-comment-artist,
.player-comment-text {
  padding-right: 6px;
}

.player-comment-left {
  left: auto;
  right: 20px;
}

.player-comment-artist {
  color: $dark-orange2;
}

.player-comment-text {
  color: $white;
}

.player-comment-single {
  position: absolute;
  top: 0px;
}

